//FONTS
//--------------------------------------------------------------------------------------------------------------------------------------------
// Файл обнуляющих стилей
@import "nullstyle.scss";
//--------------------------------------------------------------------------------------------------------------------------------------------


body {

	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	color: #1E212C;
	background: #E5E5E5;

}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
}

.page {
	flex: 1 1 auto;
	
}

[class*="__container"] {
	max-width: 1240px;
	padding: 0px 15px;
	margin: 0 auto;
	
}

.button {
	letter-spacing: 0.5px;
	color: #FFFFFF;
	font-weight: 700;
	padding: 20px 40px;
	background:  #2E8B57;
	border-radius: 4px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	&:hover{
		background: transparent;
		
		color: #16442a;
		outline: 1px solid #2E8B57;
	}
}


// =========================================HEADER================================

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0px;
	z-index: 50;
	background: #b4ddb4d6;
	

	
	&__container {
		display: flex;
		gap: 120px;	
		align-items: center;
		@media(max-width:920px){
			gap: 40px;	
		}
		@media(max-width:540px){
			flex-direction: column;
		}
	}

	&__logo {
		flex: 0 0 250px;
		@media(max-width:540px){
			flex: 0 0 auto;
		}
		& img{
			max-width: 100%;
			transition: all 0.1s ease-out 0s;
			filter: drop-shadow(2px 5px 3px #000000);
			
		}
	}

}
.menu {
	
	&__list {
		display: flex;
		column-gap: 40px;
		row-gap: 10px;
		flex-wrap: wrap;
		@media(max-width:920px){
			column-gap: 20px;
		}
		@media(max-width:540px){
			justify-content: center;
			text-align: center;
		}
		
	}


	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
		color: #000000;
		&:hover{
			text-decoration: underline;
			color:#125a1f;
		}
	}
}




// =========================================MAIN-block=========================================

.page {
	
	&__main {
		padding-top: 200px;
		padding-bottom: 80px;
		@media(max-width:840px){
			padding-bottom: 40px;
			}
		@media(max-width:539px){
			padding-top: 245px;
		}
		@media(max-width:380px){
			padding-bottom: 35px;
			}
		
		
	}
}
.main-block {
	background-color: #ffffff;
	&__container {
		position: relative;
		z-index: 2;
	}


}
.body-main {
	display: flex;
	@media(max-width:1040px){
		flex-direction: column;
		gap: 45px;
	}
	&__content {
		flex: 0 1 50%;
		padding-right: 24px;
		align-self: center;
		@media(max-width:1080px){
			text-align: center;
		}
		@media(max-width:1040px){
			padding-right: 0px;
			}
		@media(max-width:459px){
		padding-top: 50px;
		}
		@media(max-width:394px){
			padding-top: 80px;
			}
		
	}

	&__media{
		flex: 0 1 700px;
		border-radius: 15% 0% 0% 15%;
		overflow: hidden;
		@media(max-width:1080px){
			text-align: center;
		}
		@media(max-width:1040px){
			border-radius: 0;
			flex: 0 1 auto;
		}
	}

	&__playblock{
		@media(max-width:540px){
			display: flex;
			justify-content: center;
			margin: 20px 0px;
		}
		
	}

	&__play {
		display: inline-flex;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.5;
		color: #1E212C;
		align-items: center;
		gap: 16px;
		position: relative;
		transition: all 0.3s ease 0s;
		&:hover::after{
			transform: scale(1.1);
			
		}
		&:not(:last-child){
			margin-bottom: 24px;
		}
		&::after{
			position: absolute;
			content:'';
			top: -16px;
			left: -16px;
			width: 84px;
			height: 84px;
			background-color: #2E8B57;
			opacity: 0.12;
			border-radius: 50%;
			transition: all 0.3s ease 0s;
			transform: scale(0.8);
			
			
		}
		&::before{
			content:'';
			flex: 0 0 52px;
			width: 52px;
			height: 52px;
			background: #2E8B57 url('../img/icons/play.svg') center no-repeat;
			border-radius: 50%;	
		}
		
			
			
	}
	

	&__title {
		
		& span{
			color: #2E8B57;
		}
		font-weight: 600;
		font-size: 57px;
		line-height: 120%;
		color: #171832;
		@media(max-width:1132px){
			text-align: center;
			font-size: 51px;
		}
		&:not(:last-child){
			margin-bottom: 60px;
		}
		@media(max-width:540px){
			&:not(:last-child){
				margin-bottom: 30px;
			}
		}
		@media(max-width:426px){
			font-size: 40px;
			letter-spacing: -3px;
		}
		@media(max-width:344px){
			font-size: 37px;
			letter-spacing: -3px;
		}
	}

	&__actions {
		display: flex;
		gap: 40px;
		padding: 0px 5px;
		flex-wrap: wrap;
		@media(max-width:1109px){
			justify-content: center;
		}
		@media(max-width:478px){
			gap: 20px;
		}
		
	}

	&__button {
		flex: 0 0 auto;
		@media(max-width:1040px){
			align-self: center;
			}
		@media(max-width:478px){
			flex-grow: 1;
			text-align: center;
		}
	}


	&__image {
		max-width: 100%;
	}
}

.features-block {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	@media(max-width:980px){
		gap: 15px;
		}
		@media(max-width:471px){
			flex-direction: column;
			}
		
	


	&__circle {
		width: 8px;
		height: 8px;
		background: #FF3F3A;
		flex-grow: 0;
		flex-shrink: 0;
		border-radius: 50%;
		@media(max-width:980px){
		display: none;
		}
	}
}
.item-features {
	
	display: flex;
	align-items: center;
	gap: 12px;
	&__value {
		font-weight: 900;
		font-size: 37px;
		line-height: 1.2;
		
	}

	&__text {
		line-height: 160%;
	}
}


// ===============================ABOUT===================================

.page {

	&__about {
		padding-top: 60px;
		padding-bottom: 140px;
		position: relative;
		@media(max-width:1040px){
			padding-bottom: 80px;
		}
		@media(max-width:840px){
			padding-top: 40px;
			}
			@media(max-width:768px){
				padding-bottom: 40px;
				}
	}

}
.about {

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 1;
		@media(max-width:1040px){
			display: block;
			text-align: center;
			}
	}

	&__content {
		flex: 0 1 423px;
	}

	&__block-text {
		@media(max-width:1040px){
			margin-bottom: 40px;
			}
	}

	&__video {
		flex: 0 1 50%;
		padding-bottom: 35%;
		position: relative;
		box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
		border-radius: 8px;
		overflow: hidden;
		@media(max-width:1040px){
			padding-bottom: 56%;
		}
		& iframe{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
.block-text {

	&__title {
		font-weight: 500;
		font-size: 32px;
		line-height: 140%;
		color: #171832;
		&:not(:last-child){
			margin-bottom: 25px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: #171832;
		opacity: 0.7;
		&:not(:last-child){
			margin-bottom: 40px;
		}
	}


}

.decor-about {

	&__item {
		position: absolute;
	}

	&__item--1 {
		background:  url('../img/decor/01.svg')0 0 no-repeat;
		width: 484px;
		height: 484px;
		top: 53%;
		right: 32%;
	}

	

	&__item--3 {
		background:  url('../img/decor/03.svg')0 0 no-repeat;
		width: 244px;
		height: 244px;
		top: 7%;
		right: 12%;
	}
}


// ===========================ADVANTAGES==============================


.page {

	&__advantages {
		padding-bottom: 140px;
		@media(max-width:815px){
			padding-bottom: 80px;
		}
		@media(max-width:520px){
			padding-bottom: 40px;
		}
		
	}
}
.advantages {


	&__title{
		font-weight: 500;
		font-size: 32px;
		line-height: 140%;
		color: #171832;
		text-align: center;
		&:not(:last-child){
			margin-bottom: 60px;
		}
		@media(max-width:768px){
			&:not(:last-child){
				margin-bottom: 20px;
			}
			}
	}

	&__column{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		gap: 30px;
		@media(max-width:1080px){
			grid-template-columns: repeat(2,1fr);
		}
		@media(max-width:768px){
			grid-template-columns: repeat(1,1fr);
		}
	}


}
.item-advantages {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 55px 25px 25px 25px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #ffffff;
	transition: all 0.3s ease 0s;
	opacity: 0.7;
	&:hover{
		box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.426);
		cursor:context-menu;
		opacity: 1;
	}
	@media(max-width:480px){
		padding: 55px 10px 25px 10px;
	}
	&__icon {
		position: relative;
		z-index: 10;
			&::before{
				content: '';
				top: -73%;
				left: -73%;
				width: 100px;
				height: 100px;
				position: absolute;
				background: #2E8B57;
				border-radius: 50%;
				z-index: -1;
				
			}
		max-width: 40px;
		&:not(:last-child){
			margin-bottom: 50px;
		}
		
		& img{
			max-width: 100%;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		color: #171832;
		opacity: 1;
	}
}


// =================REVIEWS==================================================

.page {

	&__reviews {
		padding-bottom: 140px;
		@media(max-width:480px){
			padding-bottom: 40px;
		}
	}
}

.slider-reviews {

	&__slide {
		position: relative;
		padding-bottom: 20%;
		& img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			
		}
	}

}

.s-button-prev {
	transform: rotate(180deg);
	position: relative;
	opacity: 0.5;
		&:hover{
			opacity: 1;
		}
	&:hover{
		&::before{
			content: '';
			top: -25px;
			left: -25px;
			width: 72px;
			height: 72px;
			position: absolute;
			background: #ffffff;
			border-radius: 50%;
			z-index: -1;
			filter: drop-shadow(0px 0px 2px #0000006e);
		}
	}
			
}
.s-button-next {
	position: relative;
	opacity: 0.5;
		&:hover{
			opacity: 1;
		}
		&:hover{
			&::before{
				content: '';
				top: -29px;
				left: -25px;
				width: 72px;
				height: 72px;
				position: absolute;
				background: #ffffff;
				border-radius: 50%;
				z-index: -1;
				filter: drop-shadow(0px 0px 2px #0000006e);
			}
		}
	
}


.reviews {

	&__header {
		margin-bottom: 73px;
		display: flex;
		justify-content: space-around;
		@media(max-width:815px){
			flex-direction: column;
			align-items: center;
		}
		@media(max-width:520px){
			margin-bottom: 40px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 32px;
		line-height: 140%;
		color: #171832;
		@media(max-width:815px){
			text-align: center;
			&:not(:last-child){
				margin-bottom: 35px;
			}
		}
	}

	&__arrows {
		display: flex;
		align-items: center;
		gap: 105px;
		
		
	}
}


// ========================DETAILS========================================

.page {

	&__details {
		background-color: #ffffff;
		padding-top: 80px;
		padding-bottom: 40px;
		@media(max-width:1120px){
			padding-top: 80px;
		}
		@media(max-width:480px){
			padding-top: 40px;
		}
	}
}

.body-details {

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 140%;
		color: #171832;
		text-align: center;
		&:not(:last-child){
			margin-bottom: 60px;
		}
		@media(max-width:1120px){
			&:not(:last-child){
				margin-bottom: 30px;
			}
		}
	}

	&__content {
		margin-bottom: 120px;
		@media(max-width:480px){
			margin-bottom: 60px;
		}
	}

}



.content-details {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	@media(max-width:1120px){
		flex-direction: column-reverse;
		row-gap: 40px;
	}
	&__media {
		flex: 0 0 650px;
		box-shadow: 0px 6px 30px rgb(0, 0, 0);
		overflow: hidden;
		@media(max-width:1120px){
			flex: 0 0 auto;
		}
		& img{
			max-width: 100%;
		}
	}

	&__textblock {
		flex: 0 1 400px;
		@media(max-width:1120px){
			flex: 0 1 auto;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 140%;
		color: #171832;
		text-align: center;
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}

	&__subtitle {
		& span{
			color: #2E8B57;
		}
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		color: #171832;
		text-align: center;
		&:not(:last-child){
			margin-bottom: 15px;
		}
		
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: #171832;
		opacity: 0.7;
		@media(max-width:1120px){
			text-align: center;
		}
		p {
			&:not(:last-child){
				margin-bottom: 7px;
			}
		}
	}
}



.where {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	@media(max-width:1120px){
		flex-direction: column;
		row-gap: 40px;
	}
	&__textblock {
		flex: 0 1 400px;
		@media(max-width:1120px){
			flex: 0 1 auto;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 140%;
		color: #171832;
		text-align: center;
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}

	&__subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		color: #171832;
		text-align: center;
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		color: #171832;
		opacity: 0.7;
		@media(max-width:1120px){
			text-align: center;
		}
	}

	&__media {
		flex: 0 0 650px;
		overflow: hidden;
		box-shadow: 0px 6px 30px rgb(0, 0, 0);
		@media(max-width:1120px){
			flex: 0 0 auto;
		}
		& img{
			max-width: 100%;
		}
	}
}



.details {

	&__about {
		padding-top: 140px;
		@media(max-width:768px){
			padding-top: 80px;
		}
		
	}
}
.about-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	&__column {
		flex: 0 1 420px;
	}

	&__title {
		font-weight: 700;
		font-size: 25px;
		line-height: 140%;
		color: #171832;
		text-align: center;
		&:not(:last-child){
			margin-bottom: 25px;
		}
	}

	&__list {
		border: 1px solid rgba(0, 0, 0, 0.083);
		padding: 35px 50px;
		border-radius: 10px;
		box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.222);
		@media(max-width:640px){
			padding: 15px;
		}
		@media(max-width:420px){
			padding: 10px 5px;
		}
		& li {
			&:not(:last-child){
				margin-bottom: 10px;
			}
		}
	}

	&__item {
		font-size: 18px;
		line-height: 150%;
		color: #171832;
		opacity: 0.8;
		position: relative;
		padding-left: 40px;
		flex-grow: 1;
		&::before{
			content: '';
			top: 0;
			left: 0;
			width: 30px;
			height: 30px;
			position: absolute;
			background: url('../img/icons/check.svg') 0 0 no-repeat;
		}
		
		
	}
}


// =======================FORMS======================================

.page {

	&__forms {
		padding-top: 80px;
		padding-bottom: 80px;
		@media(max-width:540px){
			padding-top: 40px;
			}
	}
}
.forms {

	&__title {
		font-weight: 500;
		font-size: 32px;
		line-height: 140%;
		text-align: center;
		color: #171832;
		&:not(:last-child){
			margin-bottom: 30px;
		}
		@media(max-width:590px){
			font-size: 26px;
			}
	}


}
.body-forms {
	display: flex;
	justify-content: center;

	&__items {
		display: flex;
		flex-direction: column;
	}
}
.item {
	&:not(:last-child){
		margin-bottom: 30px;
	}
	&__line {
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}

	&__label {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		color: #000000;
		opacity: 0.7;
		cursor: pointer;
		display: inline-block;
		&:not(:last-child){
			margin-bottom: 5px;
		}
		&:hover{
			color: #2E8B57;
		}
	}

	&__input {
		width: 100%;
		height: 54px;
		left: 536px;
		top: 2797px;
		border: 1px solid rgba(45, 116, 255, 0.2);
		border-radius: 5px;
		padding: 0px 30px;
		font-size: 18px;
		&:focus{
			box-shadow: 0px 0px 5px 1px rgb(76 175 80);
		}
		&::placeholder{
			opacity: 0.5;
			font-size: 16px;
		}
		
	}
}

// ==================FOOTER======================

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #1e7a1e;


	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media(max-width:590px){
		flex-direction: column;
		row-gap: 20px;
		}
	}

	&__logo {
		flex: 0 0 250px;
		@media(max-width:590px){
			flex: 0 0 auto;
			}
		& img{
			max-width: 100%;
		}
		
	}

	&__email {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		letter-spacing: 0.06em;
		color: #171832;
		opacity: 0.7;
		color: #FFFFFF;

	}
}
